*.project
*.tmp
.gradletasknamecach
knamecache
.settings/
.metadata/
.gradle/
target/
bin/
out/
.classpath
.springBeans
*.iml
.idea
*/build
*.bak
.DS_Store
*.class

# Package Files #
*.jar
*.war
*.ear
settings/
.metadata/
.gradle/
target/
bin/
out/
.classpath
.springBeans
*.iml
.idea
*/build
*.bak
.DS_Store
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.log
