<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
   <footer  th:fragment="footer">
      <div class="footer">
        <a href="/merchantIndex">
            <i class="icon iconfont">&#xe608;</i><br>
            首页
        </a>
       
        <a href="/merchantInfoScanQR">
            <i class="icon iconfont">&#xe689;</i><br>
            二维码收款
        </a>
         <a href="/userSigninList">
            <i class="icon iconfont">&#xe654;</i><br>
            签到中心
            </a>
        <a href="/merchantCenter">
            <i class="icon iconfont">&#xe60a;</i><br>
            个人中心
        </a>           		             
    </div>    
    <div style="display:none">
          <audio id="myaudio" src="" controls="controls"  hidden="true" ></audio>
            <script th:inline="javascript">        
			//获取用户sessionId
			webClientUserId=[[${session.merchantEntityKey.userId}]];
			webStockPath=[[${session.webStockPath}]];	
			</script>		   
    </div>
   </footer>
      
</body>
</html>