<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
   <footer  th:fragment="footer">
      <div class="footer">
      <!--   <a href="#">
            <i class="icon iconfont">&#xe608;</i><br>
            首页
        </a> -->
        <a href="/queryMerchantTrade">
            <i class="icon iconfont">&#xe647;</i><br>
           交易明细
        </a>
        <a href="/merchantInfoScanQR">
            <i class="icon iconfont">&#xe689;</i><br>
            二维码收款
        </a>
         <a href="/userSigninList">
            <i class="icon iconfont">&#xe608;</i><br>
            签到中心
            </a>
        <a href="/queryMerchantAccount">
            <i class="icon iconfont">&#xe60a;</i><br>
            提现中心
        </a>
         
         
                          
		   <a href="/queryMerchantInfo" th:if="${session.merchantEntityKeyRole} eq '3'">
             <i class="icon iconfont">&#xe608;</i><br>
                                            后台管理
            </a>
		
         
    </div> 
   </footer>
</body>
</html>