<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script src="/js/jquery.min.js"></script>

</head>
<body>
   <div id="pay">
     <form action="/openapi/user/saveUser">
	            姓名：<input type="text" id="userName" value=""/>
	           性别：<input type="text" id ="sex" value="" />
	   <input type="button" value="提交" id="submitUser" />    
   </form>
   </div>
   <div id="payResult" style="display: none;">
                       姓名：<span id="name"></span>
                     内容 ： <img id="content" src="" />
                       成绩：  <span id="score"></span>
                       
   </div>
   
</body>
</html>

<script language="javascript" type="text/javascript">
     $(function(){               
        $("#submitUser").click(function(){          
           $.ajax({ 
               type : "POST",
               dataType : "json",
               url : "/openapi/user/saveUser",
               data : {
            	   userName : $("#userName").val(),
            	   sex : $("#sex").val(),
               },                        
               success : function(msg) {            	  
            	   if (msg.responseCode=="success"){            		  
            		   $("#payResult").removeAttr("style");
            		   $("#pay").css("display","none");
            		   showRes(msg.data);
            	   }else{
            		  alert("系统出错")
            	   }
               }
           });                  
        });    
        
        function showRes(data){
        	 $.ajax({ 
                 type : "POST",
                 dataType : "json",
                 url : "/openapi/user/getUser",
                 data : {              	  
              	   id : data,
                 },                        
                 success : function(msg) {            	  
              	   if (msg.responseCode=="success"){              		 
              		$("#name").html(msg.data.user.userName);
              		$("#content").attr("src",msg.data.content.contentImagePath);
              		$("#score").html(msg.data.score.id);              		
              	   }else{
              		  alert("系统出错")
              	   }
                 }
             });                 
        }
        
              
    });
     
  

            
</script>
