<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
    
             收款方：<label th:text="${merchantEntity.name}"></label><br></br>  
              账户金额：<label th:text="${merchantAccountEntity.shareAmt}"></label><br></br>  
             可用金额：<label th:text="${merchantAccountEntity.avlAmt}"></label><br></br>  
            冻结金额：<label th:text="${merchantAccountEntity.freAmt}"></label><br></br>      
</body>
</html>