<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商户收款后台管理系统</title>
    <meta content="yes" name="apple-mobile-web-app-capable"><!-- 这meta的作用就是删除默认的苹果工具栏和菜单栏允许全屏模式浏览-->
    <meta name="apple-touch-fullscreen" content="yes"><!-- 开启对web app程序的支持  -->
    <meta content="telephone=no,email=no" name="format-detection"><!-- iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！telephone=no就忽略页面中的数字识别为电话号码 ,email=no 忽略识别邮箱 -->
    <!--base css-->
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="font/iconfont.css"/>
    <!--base css end-->
    <!--base js-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <script>
        window.scrollTo(0, 0);
    </script>
    <!--<meta content="yes" name="apple-mobile-web-app-capable"> end-->
    <script src="js/reset.js"></script>
    <script src="js/jquery.min.js"></script>   
    <style>
        .denglusub{
            width: 100%;
        }
    </style>
    <!--no base css end-->

</head>

<body>
<!--wapper-->
<div class="wapper">
    <div class="phone">
        <div class="page-tab bag-fff">
            <div class="denglu">
               
                <div class="sform p-l-30 p-r-30 m-t-40">
                 <div class="sformdiv m-b-20">
                        <div class="sforspan floatLeft">
                            登录名：
                        </div>
                        <div class="sfroinput floatLeft">
                            <input type="text" id="loginName" name="loginName" class="sforinwidt"/>
                        </div>
                    </div>
                     <div class="sformdiv m-b-20">
                        <div class="sforspan floatLeft">
                            密码：
                        </div>
                        <div class="sfroinput floatLeft">
                            <input type="text" id="password" name="password" class="sforinwidt"/>
                        </div>
                    </div>
                    <div class="sformdiv m-b-20">
                        <div class="sforspan floatLeft">
                            商户名：
                        </div>
                        <div class="sfroinput floatLeft">
                            <input type="text" id="merchantName" name="merchantName" class="sforinwidt"/>
                        </div>
                    </div>
                     <div class="sformdiv m-b-20">
                        <div class="sforspan floatLeft">
                            支付宝：
                        </div>
                        <div class="sfroinput floatLeft">
                            <input id="paymentMethod" name="paymentMethod" type="text" class="sforinwidt"/>
                        </div>
                    </div>
                     <div class="sformdiv m-b-20">
                        <div class="sforspan floatLeft">
                            姓名：
                        </div>
                        <div class="sfroinput floatLeft">
                            <input id="contacts" name="contacts" type="text" class="sforinwidt"/>
                        </div>
                    </div>
         <div class="sformdiv m-b-20">
                        <div class="sforspan floatLeft">
                            电话：
                        </div>
                        <div class="sfroinput floatLeft">
                            <input type="text" id="mobile" name="mobile" class="sforinwidt"/>
                        </div>
                    </div>            
          
                 <input type="hidden" id="parentUserId" name="parentUserId" th:value="${parentUserId}"/>

                     <a id="submitPay" class="denglusub denglusuba">确认提交</a>
 <br>  <a class="text-e94820" href="/login">商户登录>></a>

                </div>
                <br><br>

            </div>

        </div>     

    </div>
</div>
<!--wapper end-->

</body>

<script language="javascript" type="text/javascript">

$("#submitPay").click(function(){
	 $.ajax({ 
         type : "POST",
         dataType : "json",
         url : "/addMerchantInfo",
         data : {
        	 loginName : $("#loginName").val(),
        	 password : $("#password").val(),
        	 merchantName : $("#merchantName").val(),
        	 mobile : $("#mobile").val(),
        	 address : $("#address").val(),
        	 contacts : $("#contacts").val(), 
        	 parentUserId : $("#parentUserId").val(), 
        	 paymentMethod : $("#paymentMethod").val(), 
         },                        
         success : function(msg) {            	  
      	   if (msg.responseCode=="success"){
      		 alert("用户注册成功，请登录");
      		window.location.href="/login"; 
      	   }else{
      		 alert(msg.responseMsg);
      	   }
         }
     });              
})

</script>


</html>