<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>


</head>
<body>
<div id="qrcode" style="width:300px; height:300px; margin-top:100px;margin-left: 200px"></div>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
<div>
  <form action="" id="payment" method="post">
          收款方：<label th:text="${merchantEntity.name}"></label><br></br>       
         收款金额：<input type="text" id ="payAmount" name="payAmount" value="" /><br></br> 
         <input type="hidden" id ="merchantId" name="merchantId" th:value="${merchantEntity.id}" />
         <input type="hidden" id ="merchant_id" name="merchant_id" value="" />   
         <input type="hidden" id ="nonce_str" name="nonce_str" value="" />
         <input type="hidden" id ="total_fee" name="total_fee" value="" />
         <input type="hidden" id ="m_out_trade_no" name="m_out_trade_no" value="" />
         <input type="hidden" id ="return_url" name="return_url" value="" />
         <input type="hidden" id ="sign" name="sign" value="" />
         <input type="hidden" id ="post_url" name="post_url" value="" />              
         <input type="button" value="付款" id="submitPay" />    
  </form>
 </div>
</body>


</html>

<script language="javascript" type="text/javascript">

var qrcode = new QRCode(document.getElementById("qrcode"), {
    width : 300,
    height : 300
});

function makeCode () {     
    qrcode.makeCode("http://192.168.31.195:8082/queryMerchantInfoById?merchantId=16");
}

makeCode();


$(function(){               
    $("#submitPay").click(function(){
       $.ajax({ 
           type : "POST",
           dataType : "json",
           url : "/merchantRecharge",
           data : {
        	   merchantId : $("#merchantId").val(),
        	   payAmount : $("#payAmount").val(),
           },                        
           success : function(msg) {            	  
        	   if (msg.responseCode=="success"){
        		   $("#merchant_id").val(msg.data.merchant_id);
        		   $("#nonce_str").val(msg.data.nonce_str);        		  
        		   $("#total_fee").val(msg.data.total_fee);
        		   $("#m_out_trade_no").val(msg.data.m_out_trade_no);
        		   $("#return_url").val(msg.data.return_url);
        		   $("#sign").val(msg.data.sign);
        		   $("#payment").attr('action',msg.data.post_url); 
        		   $("#payment").submit();         		 
        	   }else{
        		  alert("系统出错")
        	   }
           }
       });                  
    });
 
          
});

</script>